<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <title>Predict</title>
</head>
<body>
    <header>
        <a href="MainMenu">
            <img class="logo"  src="images/logo.png" alt="logo">
        </a>
    
        <nav>
            <ul class="nav-links">
                <li><a href="MainMenu">Home</a></li>
                <li><a href="profilepage">Profile</a></li>
                <li><a href="About"  >About</a></li>
            </ul>
        </nav>

             <a href="/Logout"><!-- From Uiverse.io by OliverZeros --> 
                <button class="button button-item">
                  <span class="button-bg">
                    <span class="button-bg-layers">
                      <span class="button-bg-layer button-bg-layer-1 -purple"></span>
                      <span class="button-bg-layer button-bg-layer-2 -turquoise"></span>
                      <span class="button-bg-layer button-bg-layer-3 -yellow"></span>
                    </span>
                  </span>
                  <span class="button-inner">
                    <span class="button-inner-static">Log out</span>
                    <span class="button-inner-hover">Log out</span>
                  </span>
                </button>
                </a>
        
    </header>
    