<%- include("partials/header.ejs") %>


  <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 60%;
      
    }
    img {
      max-width: 90%;
      height: auto;
    }
  </style>
<body>
  <div class="center-container">
    <img src="images/Poster.png" alt="Prediction Image">
  </div>
</body>

<%- include("partials/footer.ejs") %>