<%- include("partials/header.ejs") %>


    <h1 class="header" style="color: white;">Chose a subject</h1>
    <div class="container">
        <h2 style="font-weight: lighter;">ADD SUBEJCTS</h2>


        <select id="cs222" class="options">
            <option value="A">CS 222</option>
            <option value="A">CS 214</option>
            <option value="B+">COE 351</option>
            <option value="B">CS 315</option>
        </select>

        <div class="action-buttons">
            <button class="btn">ADD</button>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>